# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
.env

# Ignrar base de datos SQLite
*.db
*.db-journal

# Config
src/config/userConfig.json